@using Plusminuszero.Models
@model LoginViewModel


@{
    Layout = null;
}







<link rel='stylesheet' href='https://fontastic.s3.amazonaws.com/tyyroC3qVqR4rWNhyhMTRB/icons.css'>
<link href="~/Assets/css/style.css" rel="stylesheet" />






<div class="bg-wrapper">
    <div class="bg-grad orange active"></div>
    <div class="bg-grad red"></div>
    <div class="bg-grad purple"></div>
    <div class="bg-grad blue"></div>
    <div class="bg-grad green"></div>
    <div class="bg-grad yellow"></div>
</div>








<div class="login-wrapper">
    <div class="x-wrapper">
        <div class="y-wrapper">
            <div class="title-wrapper">
                <h2>歡迎!</h2>
                <br>
                <h4>請輸入電子郵箱及密碼</h4>
            </div>
            <div class="input-box">
                <input type="text" id="username" value="" placeholder="e-mail" />
                <input type="password" id="password" value="" placeholder="密碼" /><span class="show-pass icon-eye" title="show characters"></span>
            </div>
            <div class="button-wrapper">
                <a href="#">回首頁</a>
                <span class="login-btn">登入&raquo;</span>
            </div>
        </div>
    </div>
</div>











<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="~/Assets/js/script.js"></script>
















