
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>OAK - HTML Theme</title>
    <meta name="description" content="">
    <meta name="msapplication-tap-highlight" content="yes" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @*//匯入jQuery*@
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    @*//匯入bootstrap*@
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    @*//匯入bootstrap javascript*@

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Assets/css/owl.theme.css" rel="stylesheet" />

    <link href="~/Assets/css/jquery.kenburnsy.css" rel="stylesheet" />
    <link href="~/Assets/css/animate.css" rel="stylesheet" />

    <link href="~/Assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Assets/css/iconmoon.css" rel="stylesheet" />
    <link href="~/Assets/css/et-line.css" rel="stylesheet" />
    <link href="~/Assets/css/ionicons.css" rel="stylesheet" />

    <link href="~/Assets/css/magnific-popup.css" rel="stylesheet" />


    <link href="~/Assets/css/tabs.css" rel="stylesheet" />
    <link href="~/Assets/css/tabstyles.css" rel="stylesheet" />


    <link href="~/Assets/css/loader-1.css" rel="stylesheet" />
    <link href="~/Assets/css/main.css" rel="stylesheet" />
    <link href="~/Assets/css/responsive.css" rel="stylesheet" />

    <link rel="icon" href="~/favicon.ico" />


    <script src="~/Assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>



    <div class="container">
        <div class="header-page ef-parallax-bg" style="background-image:url(../../Assets/img/about-header.jpeg)">
            <div class="col-md-6 col-md-offset-6">
                <div class="row">
                    <div class="inner-content">
                        <div class="header-content">
                            <h1>About Us</h1>
                            <hr>
                            <p>Everything created in simple way</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>









    <div class="container margin-top">
        <div class="main-title near-content">
            <h1>WE ARE OAK AGENCY</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h5>恰到好處 “Just right”</h5>
                <p>±0 品牌符號，代表著「恰到好處」。人們自然地會從過往的經驗來選擇什麼產品最適合自己的生活。這是一種探索自己喜好的行為。</p>
                <br>
                <h5>恰到好處的形狀 A shape that is “Just right”</h5>
                <p>我們創造出可以長久使用的外型，採用時尚的元素與語彙，但又不會受限太多流行趨勢的牽絆。</p>
            </div>
            <div class="col-md-6">
                <h5>恰到好處的大小 A size that is “Just right”</h5>
                <p>乍看之下±0 產品的體積偏小，因為我們想把對尺碼的迷思拉回到適當且安心的感覺。</p>
                <br>
                <h5>恰到好處的價格 A price that is “Just right”</h5>
                <p>
                    我們設定的目標價格都負擔得起的各種價位，在任何需要的時候都可以輕鬆擁有。
                </p>
            </div>
            <div class="col-md-6">
                <p style="font-size: 15px; line-height: 20px;">
                    我們是為消費者心中喜好與考量下的中間點。
                    不僅為消費者找到慾望衝突的平衡點，也提供了美好生活的出發點。
                </p>
            </div>
        </div>
    </div>









    <div class="container margin-top">
        <div class="row">
            <div class="col-md-12">
                <div class="our-story wow fadeInUp" style="background: url(../../Assets/img/our-story.jpeg) no-repeat"
                     data-wow-duration="0.5s" data-wow-delay="0.2s">
                    <div class="col-md-6 col-md-offset-6">
                        <div class="our-story-content wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                            <div class="our-story-content-inner">
                                <h1>OUR STORY</h1>
                                <hr>
                                <p>
                                    ±0
                                    打破了家用電子產品的傳統框架，我們把每一類的產品視為一種生活方式的工具。例如說當想到早餐的麵包，那麼我們會把烤麵包機、切板和麵包盤同時一起使用。在準備咖啡的情境時，我們會聯想到電熱壺、咖啡濾杯和咖啡豆保存罐。家用電器和家用物品不只是生活中一項單獨存在的物品
                                    —— 他們應該是為了相互協調而存在的設備。 <br><br>
                                    ±0 認為設計應該是自然並存的。不僅是顏色或形狀的匹配；而是設計與生活可以和諧的設備。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>











    <div class="container margin-top">
        <div class="main-title">
            <h1>WHY CHOOSE US?</h1>
            <hr>
            <h6>Except to obtain some advantage from it</h6>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="services-home-page">
                    <div class="col-md-12 wow fadeInUp" data-wow-duration="0.2s" data-wow-delay="0.2s">
                        <div class="row">
                            <div class="services-icon">
                                <span class="icon-tools"></span>
                                <hr>
                            </div>
                            <h4>BRANDING</h4>
                            <p>打破了家用電子產品的傳統框架，我們把每一類的產品視為一種生活方式的工具。例如說當想到早餐的麵包，那麼我們會把烤麵包機、切板和麵包盤同時一起使用。</p>
                        </div>
                    </div>
                    <div class="col-md-12 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
                        <div class="row">
                            <div class="services-icon">
                                <span class="icon-globe"></span>
                                <hr>
                            </div>
                            <h4>PLAN OF WORK</h4>
                            <p>在準備咖啡的情境時，我們會聯想到電熱壺、咖啡濾杯和咖啡豆保存罐。家用電器和家用物品不只是生活中一項單獨存在的物品 —— 他們應該是為了相互協調而存在的設備。</p>
                        </div>
                    </div>
                    <div class="col-md-12 wow fadeInUp" data-wow-duration="0.6s" data-wow-delay="0.6s">
                        <div class="row">
                            <div class="services-icon">
                                <span class="icon-paintbrush"></span>
                                <hr>
                            </div>
                            <h4>ILUSTRATION</h4>
                            <p>正負零認為設計應該是自然並存的。不僅是顏色或形狀的匹配；而是設計與生活可以和諧的設備。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-md-offset-1">
            <div class="our-story-image wow fadeInUp" data-wow-duration="1s" data-wow-delay="1s">
                <img src="~/Assets/img/services.jpeg" alt="Our Story" />
            </div>
        </div>
    </div>









    <div class="container margin-top">
        <div class="main-title">
            <h1>OUR AMAZING TEAM</h1>
            <hr>
            <h6>Except to obtain some advantage from it</h6>
        </div>
        <div class="owl-carousel team">
            <div>
                <div class="img member">
                    <img src="~/Assets/img/team/member_1.jpeg" alt="Team Member">
                    <div class="overlay-thumb">
                        <div class="overlay-member-content">
                            <div class="overlay-member-content-inner">
                                <span class="position">WEB DEVELOPER</span>
                                <hr>
                                <ul class="member-social-media">
                                    <li><a href="http://facebook.com/EliteFingers" target="_blank">Facebook</a></li>
                                    <li><a href="http://twitter.com/EliteFingers" target="_blank">Twitter</a></li>
                                    <li><a href="#" target="_blank">Dribbble</a></li>
                                </ul>
                            </div>
                        </div>
                        <span class="btnBefore"></span>
                        <span class="btnAfter"></span>
                    </div>
                </div>
                <span class="member-name">JOHN DOE</span>
            </div>

            <div>
                <div class="img member">
                    <img src="~/Assets/img/team/member_2.jpeg" alt="Team Member">
                    <div class="overlay-thumb">
                        <div class="overlay-member-content">
                            <div class="overlay-member-content-inner">
                                <span class="position">WEB DEVELOPER</span>
                                <hr>
                                <ul class="member-social-media">
                                    <li><a href="http://facebook.com/EliteFingers" target="_blank">Facebook</a></li>
                                    <li><a href="http://twitter.com/EliteFingers" target="_blank">Twitter</a></li>
                                    <li><a href="#" target="_blank">Dribbble</a></li>
                                </ul>
                            </div>
                        </div>
                        <span class="btnBefore"></span>
                        <span class="btnAfter"></span>
                    </div>
                </div>
                <span class="member-name">JOHN DOE</span>
            </div>

            <div>
                <div class="img member">
                    <img src="~/Assets/img/team/member_3.jpeg" alt="Team Member">
                    <div class="overlay-thumb">
                        <div class="overlay-member-content">
                            <div class="overlay-member-content-inner">
                                <span class="position">WEB DEVELOPER</span>
                                <hr>
                                <ul class="member-social-media">
                                    <li><a href="http://facebook.com/EliteFingers" target="_blank">Facebook</a></li>
                                    <li><a href="http://twitter.com/EliteFingers" target="_blank">Twitter</a></li>
                                    <li><a href="#" target="_blank">Dribbble</a></li>
                                </ul>
                            </div>
                        </div>
                        <span class="btnBefore"></span>
                        <span class="btnAfter"></span>
                    </div>
                </div>
                <span class="member-name">JOHN DOE</span>
            </div>

            <div>
                <div class="img member">
                    <img src="~/Assets/img/team/member_1.jpeg" alt="Team Member">
                    <div class="overlay-thumb">
                        <div class="overlay-member-content">
                            <div class="overlay-member-content-inner">
                                <span class="position">WEB DEVELOPER</span>
                                <hr>
                                <ul class="member-social-media">
                                    <li><a href="http://facebook.com/EliteFingers" target="_blank">Facebook</a></li>
                                    <li><a href="http://twitter.com/EliteFingers" target="_blank">Twitter</a></li>
                                    <li><a href="#" target="_blank">Dribbble</a></li>
                                </ul>
                            </div>
                        </div>
                        <span class="btnBefore"></span>
                        <span class="btnAfter"></span>
                    </div>
                </div>
                <span class="member-name">JOHN DOE</span>
            </div>
        </div>
    </div>







    <div class="container margin-top">
        <div class="clients-wrapper">
            <ul class="client-thumb">
                <li><a href="#"><img src="~/Assets/img/clients/client_1.jpeg" alt="Client 1"></a></li>
                <li><a href="#"><img src="~/Assets/img/clients/client_2.jpeg" alt="Client 1"></a></li>
                <li><a href="#"><img src="~/Assets/img/clients/client_3.jpeg" alt="Client 1"></a></li>
                <li><a href="#"><img src="~/Assets/img/clients/client_4.jpeg" alt="Client 1"></a></li>
            </ul>
        </div>
    </div>






    <a href="javascript:void(0)" class="scroll-top" id="scroll-top"><i class="pe-7s-angle-up"></i></a>



    <script src="~/Assets/js/vendor/jquery-1.11.2.min.js"></script>
    <script data-pace-options='{ "ajax": false }' src="~/Assets/js/vendor/pace.min.js"></script>
    <script src="~/Assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/Assets/js/vendor/classie.js"></script>
    <script src="~/Assets/js/vendor/isotope.pkgd.min.js"></script>
    <script src="~/Assets/js/vendor/jquery.velocity.min.js"></script>
    <script src="~/Assets/js/vendor/jquery.kenburnsy.min.js"></script>
    <script src="~/Assets/js/vendor/textslide.js"></script>
    <script src="~/Assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="~/Assets/js/vendor/tabs.js"></script>
    <script src="~/Assets/js/ef-slider.js"></script>
    <script src="~/Assets/js/vendor/owl.carousel.min.js"></script>
    <script src="~/Assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="~/Assets/js/vendor/jquery.social-buttons.min.js"></script>
    <script src="~/Assets/js/vendor/wow.min.js"></script>
    <script src="~/Assets/js/main.js"></script>
    <script src="~/Assets/js/ajax.js"></script>
</body>
</html>
