
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>OAK - HTML Theme</title>
    <meta name="description" content="">
    <meta name="msapplication-tap-highlight" content="yes" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0" />



    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lekton:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Assets/css/owl.theme.css" rel="stylesheet" />

    <link href="~/Assets/css/jquery.kenburnsy.css" rel="stylesheet" />
    <link href="~/Assets/css/animate.css" rel="stylesheet" />

    <link href="~/Assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <link href="~/Assets/css/iconmoon.css" rel="stylesheet" />
    <link href="~/Assets/css/et-line.css" rel="stylesheet" />
    <link href="~/Assets/css/ionicons.css" rel="stylesheet" />

    <link href="~/Assets/css/magnific-popup.css" rel="stylesheet" />


    <link href="~/Assets/css/tabs.css" rel="stylesheet" />
    <link href="~/Assets/css/tabstyles.css" rel="stylesheet" />


    <link href="~/Assets/css/loader-1.css" rel="stylesheet" />
    <link href="~/Assets/css/main.css" rel="stylesheet" />
    <link href="~/Assets/css/responsive.css" rel="stylesheet" />

    <link rel="icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    @*//匯入bootstrap*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    @*//匯入jQuery*@
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    @*//匯入bootstrap javascript*@
    <script src="~/Assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>



</head>
<body>



    <div class="container">
        <div class="header-page ef-parallax-bg" style="background-image:url(../../Assets/img/blog-header.jpg)">
            <div class="col-md-6 col-md-offset-6">
                <div class="row">
                    <div class="inner-content">
                        <div class="header-content">
                            <h1>Blog Posts</h1>
                            <hr>
                            <p>Everything created in simple way</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="container margin-top">
        <div class="blog-wrapper">
            <div class="main">
                <ul class="cbp_tmtimeline">
                    <li>
                        <div class="cbp_tmtime">
                            <span>1 OCT - 2015</span>
                        </div>
                        <div class="cbp_tmicon icon-calendar"></div>
                        <div class="cbp_tmlabel wow animated fadeInUp" data-wow-delay="0.10s">
                            <div class="blog-v2-image">
                                <img src="~/Assets/img/blog/img_4.jpg" alt="Blog Post">
                                <div class="icon-video-blogv2">
                                    <a href="https://vimeo.com/29993935" class="popup-video playBut">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="69px" height="69px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                        <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                                    73.5,62.5 148.5,105.8 73.5,149.1 " />



                                        <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />



                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <a href="single-blog.html">
                                <h1>Kosovo the young europeans</h1>
                            </a>
                            <p>
                                Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape radish bush tomato ricebean black-eyed pea maize eggplant. Cabbage
                                lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato summer purslane salsify fennel horseradish dulse. Winter purslane garbanzo artichoke broccoli lentil corn okra silver beet celery
                                quandong.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmtime">
                            <span>3 OCT - 2015</span>
                        </div>
                        <div class="cbp_tmicon icon-calendar"></div>
                        <div class="cbp_tmlabel wow animated fadeInUp" data-wow-delay="0.10s">
                            <div class="blog-v2-image">
                                <img src="~/Assets/img/blog/img_3.jpg" alt="Blog Post">

                                <div class="icon-video-blogv2">
                                    <a href="https://www.youtube.com/watch?v=n2vy7qRm5s0" class="popup-video playBut">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="69px" height="69px" viewBox="0 0 213.7 213.7" enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                                        <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="
                                        73.5,62.5 148.5,105.8 73.5,149.1 " />



                                        <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />



                                        </svg>
                                    </a>
                                </div>


                            </div>
                            <a href="single-blog.html">
                                <h1>Denouncing pleasure clean and praising pain was born</h1>
                            </a>
                            <p>
                                Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape radish bush tomato ricebean black-eyed pea maize eggplant. Cabbage
                                lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato summer purslane salsify fennel horseradish dulse. Winter purslane garbanzo artichoke broccoli lentil corn okra silver beet celery
                                quandong.
                            </p>
                        </div>
                    </li>


                    <li>
                        <div class="cbp_tmtime">
                            <span>20 SEP 2015</span>
                        </div>
                        <div class="cbp_tmicon icon-calendar"></div>
                        <div class="cbp_tmlabel wow animated fadeInUp" data-wow-delay="0.10s">
                            <a href="single-blog.html">
                                <h1>Denouncing pleasure clean and praising pain was born</h1>
                            </a>
                            <p>
                                Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape radish bush tomato ricebean black-eyed pea maize eggplant. Cabbage
                                lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato summer purslane salsify fennel horseradish dulse. Winter purslane garbanzo artichoke broccoli lentil corn okra silver beet celery
                                quandong.
                            </p>
                        </div>
                    </li>

                    <li>
                        <div class="cbp_tmtime">
                            <span>2019-06-27</span>
                        </div>
                        <div class="cbp_tmicon icon-calendar"></div>
                        <div class="cbp_tmlabel wow animated fadeInUp" data-wow-delay="0.10s">
                            <div class="blog-v2-image">
                                <img src="~/Assets/img/blog/img_1.jpg" alt="Blog Post">
                            </div>
                            <a href="single-blog.html">
                                <h1>【商品常見問題】說明書下載</h1>
                            </a>
                            <p>
                                <h4>1.正負零商品保固維修、商品保養問題</h4>
                                正負零台灣總代理為「群光電子股份有限公司」，並提供產品保固維修服務。正負零所有產品自購買日起一年內，憑產品保固書並於遵守使用說明書與其他注意事項的正常使用狀態下發生故障時，我們接提供免費保固的服務。如果產品有其他損壞、需維修調整，請洽「群光電子股份有限公司」。 群光電子股份有限公司服務資訊客服專線：0800-255-123客服信箱：emily_pan@chicony.com，服務時間：週一~週五 10:00~18:00 (六日、國定假日除外)
                            </p>
                            <p>
                                <h4>2.產品說明書下載</h4>
                                請選擇您的產品名稱及型號，點擊並下載產品說明（說明文件含故障功能排解、售後服務說明等使用指南）。 「XQS-X610 電風扇」、「XQS-Y620 電風扇」、「XQS-Z710 電風扇」、「XQH-X020 空氣清淨機」、「XQJ-C010 除濕機」、「XQS-B320 循環扇」、「XQS-D330 循環扇」、「XHH-Y120 電暖器」、「XHH-Y030 電暖器」
                            </p>
                            <p>
                                <h4>3.產品支援說明</h4>
                                產品使用上如遇任何問題，請參照各產品之說明書，尋找相關資訊、排解疑難。若仍無法解決問題，請聯絡正負零台灣總代理為「群光電子股份有限公司」，由專業客服人員協助您操作產品、或排除問題。並進一步瞭解您的產品是否需要送至維修服務中心進行檢測與維修，「群光電子股份有限公司」專業工程師將進行檢測，並通知檢測與維修進度。

                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>





    <div class="container">
        <ul class="pagination-ef wow animated fadeInUp" data-wow-delay="0.20s">
            <li>
                <a href="#">
                    <i class="pe-7s-angle-left"></i>
                </a>
            </li>
            <li class="current"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">8</a></li>
            <li>
                <a href="#">
                    <i class="pe-7s-angle-right"></i>
                </a>
            </li>
        </ul>
    </div>





    <a href="javascript:void(0)" class="scroll-top" id="scroll-top"><i class="pe-7s-angle-up"></i></a>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">


    </script>


    @section endJS{

        <script>


            jQuery(document).ready(function ($) {

                //Navigation Sub Menu Triggering
                jQuery('.menu-item-has-children, .page_item_has_children').hover(function () {
                    jQuery(this).children('.sub-menu').stop().slideDown(200);
                },
                    function () {
                        jQuery(this).children('.sub-menu').stop().slideUp(200);
                    });

                //Mobile Menu Open/Close
                jQuery('#open-mobile-menu').on('click', function () {
                    var self = jQuery(this);
                    var mobileMenu = jQuery('.menu-wrap-2');

                    if (mobileMenu.hasClass('is-open')) {
                        self.removeClass('active');
                        mobileMenu.removeClass('is-open');
                    } else {
                        mobileMenu.addClass('is-open');
                        self.addClass('active');
                    }
                });

                //Dribbble
                if (jQuery('.dribble-grid').length > 0) {
                    getDribbbleThumbs();
                };

                //Menu Right Side
                if (navigationRight.length > 0) {
                    Navigation();
                };

                //Parallax Background on Desktop
                if (!isMobile.any()) {
                    jQuery(window).on('scroll', function () {
                        parallaxScroll();
                    });
                };

                // Switch class on filter
                var showfilter = jQuery('.works-filter');
                jQuery('button.nav').on('click', function () {
                    var self = jQuery(this);
                    self.toggleClass('open');
                    showfilter.toggleClass('open');
                });

                //Architecure Slider
                var archSlider = jQuery('#arch-slider');
                var prev = jQuery('.prev-slide');
                var next = jQuery('.next-slide');
                //Arch slider
                if (archSlider.length > 0) {
                    archSlider.owlCarousel({
                        singleItem: true,
                        pagination: false,
                        autoPlay: 5000,
                        slideSpeed: 300,

                    });
                    prev.on('click', function () {
                        archSlider.trigger('owl.prev');
                    });
                    next.on('click', function () {
                        archSlider.trigger('owl.next');
                    });
                };

                //Single Project Slider
                var singleProjectSlider = jQuery('.single-slider');
                if (singleProjectSlider.length > 0) {
                    singleProjectSlider.owlCarousel({
                        singleItem: true,
                        pagination: false,
                        autoPlay: 5000,
                        slideSpeed: 300,

                    });
                    prev.on('click', function () {
                        singleProjectSlider.trigger('owl.prev');
                    });
                    next.on('click', function () {
                        singleProjectSlider.trigger('owl.next');
                    });
                };

                //Team Slider
                var teamMembers = jQuery('.team');
                if (teamMembers.length > 0) {
                    teamMembers.owlCarousel({
                        pagination: true,
                        items: 3,
                        margin: 20,
                        autoHeight: true,
                        itemsDesktop: [1199, 3],
                        itemsDesktopSmall: [980, 2],
                        itemsTablet: [768, 2],
                        itemsMobile: [479, 1]
                    });
                };

                //Tabs Slider
                var tabsSlider = jQuery('#tabs-slider');
                if (tabsSlider.length > 0) {
                    tabsSlider.owlCarousel({
                        singleItem: true,
                        pagination: false,
                        autoPlay: 3000,
                        slideSpeed: 600,
                    });
                };

                //Search
                var wrap = jQuery('.js-ui-search');
                var close = jQuery('.js-ui-close');
                var input = jQuery('.js-ui-text');
                close.on('click', function () {
                    wrap.toggleClass('open');
                });
                input.on('transitionend webkitTransitionEnd oTransitionEnd', function () {
                    if (wrap.hasClass('open')) {
                        input.focus();
                    } else {
                        return;
                    }
                });

                //Finished loader
                Pace.on("done", function () {
                    jQuery(".cover").addClass('animated fadeOutRight').fadeOut(1000);
                });

                //Magnific Popup
                jQuery('.popup-video').magnificPopup({
                    type: 'iframe',
                    closeOnContentClick: true,
                    closeBtnInside: false,
                    fixedContentPos: true,
                    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
                    image: {
                        verticalFit: true
                    },
                    zoom: {
                        enabled: true,
                        duration: 300 // don't foget to change the duration also in CSS
                    }
                });

                //Kenburnsy Slides
                jQuery('#slider-ef').kenburnsy();

                //Scroll Top
                jQuery('#scroll-top').scrollToTop();

                //Like
                likeEf();

                //Slider
                historySlider();

                //Get social sharing
                getSocialButtons();

                //Init Tabs
                Tabs();

                //WOW Animation init
                new WOW().init();

            });



        </script>


        <script src="~/Assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script data-pace-options='{ "ajax": false }' src="~/Assets/js/vendor/pace.min.js"></script>
        <script src="~/Assets/js/vendor/bootstrap.min.js"></script>
        <script src="~/Assets/js/vendor/classie.js"></script>
        <script src="~/Assets/js/vendor/isotope.pkgd.min.js"></script>
        <script src="~/Assets/js/vendor/jquery.velocity.min.js"></script>
        <script src="~/Assets/js/vendor/jquery.kenburnsy.min.js"></script>
        <script src="~/Assets/js/vendor/textslide.js"></script>
        <script src="~/Assets/js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="~/Assets/js/vendor/tabs.js"></script>
        <script src="~/Assets/js/ef-slider.js"></script>
        <script src="~/Assets/js/vendor/owl.carousel.min.js"></script>
        <script src="~/Assets/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="~/Assets/js/vendor/jquery.social-buttons.min.js"></script>
        <script src="~/Assets/js/vendor/wow.min.js"></script>
        <script src="~/Assets/js/main.js"></script>
        <script src="~/Assets/js/ajax.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    }


</body>
</html>


